body{
    display:flex;
    align-content: center;
    justify-content: center;
}

.container{
    width: fit-content;
    display: flex;
    flex-flow: column;
    align-content: center;
    justify-content: center;
}