@using Tic_Tack_Toe_Web.Client.Components

@page "/"

<PageTitle>Home</PageTitle>
<div class="container">
    <div class="title">
        <p>Click a box to begin.</p>
    </div>
    <div class="grid">
        <PlayGrid></PlayGrid>
    </div>
    <div class="leaderboard">
    </div>
</div>

